#button_div{
  margin-top: 30px;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;




}
h2{
  text-align: center;
}





#totals{
  float: right;
  margin-right: 45px;
  font-size: 16px;

}
